<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}Eat me!{{else}}Order, on the fly!{{/if}}
	</button>
	<button class="delete-burger" data-id="{{this.id}}">Sell it</button>

</li>