<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevour="{{devoured}}">
		{{#if devoured}}Order More!{{else}}Eat Me!{{/if}}
	</button>
	<button class="delete-burger" data-id="{{this.id}}">Delete</button>



</li>